@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Handjet-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Bangers-Regular.ttf') format('truetype');
}


body {
  display: block;
  margin: 0 auto;
  font-family: "Handjet", "Arial", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #000000;
  cursor: url('../images/cursor-default.svg') 16 16, pointer;
}

p, a {
  font-family: "Handjet", "Arial", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.padding {
  padding-bottom: 16px;
}

h1 {
  font-family: "Bangers", "Arial", sans-serif;
  font-size: 64px;
  line-height: 64px; 
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: "Handjet", "Arial", sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h1, h2 {
  color: #A1FF00 !important;
}

h3 {
  font-family: "Arial", sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  text-transform: lowercase;
  margin: 0;
  color: rgb(255, 255, 255 , 0.2);
  width: 300px;
  text-align: right;
}


body::-webkit-scrollbar {
    display: none;
}

::selection {
  background: #A1FF00;
  color: #000000;
}

mark {
  background: #A1FF00;
  color: #000000;
}

.fix {
  position: fixed;
  z-index: 999999;
  margin: 0 auto;
  align-items: center;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.push {
  position: fixed;
  opacity: 1;
  z-index: -999999;
  margin: 0 auto;
  align-items: center;
  bottom: 40px;
  width: 100%;
  text-align: -webkit-center;
  transition: opacity 1s, bottom 1s;
} 

.button {
  padding: 20px 40px 20px 40px;
  background-color: #A1FF00;
  color: #000000;
}

.logo {
  width: 280px;
}

.svg {
  width: 120px;
}

.button:hover {
  padding: 20px 78px 20px 80px;
  background-color: #A1FF00;
  color: #000000;
  cursor: url('../images/cursor-pointer.svg') 16 16, pointer;
  transition: 0.2s;
}

.skew div {
  transform: skew(-2deg);
}


a {
  text-decoration: none;
}

a:hover {
  padding: 0px 0px 0px 2px;
  opacity: 1;
  color: #A1FF00;
  cursor: url('../images/cursor-pointer.svg') 16 16, pointer;
  transition: 0.2s;
  transform: skew(-1deg);
}


a {
  color: rgb(255, 255, 255, 0.2);
  transition: 0.4s;
}

p, h1, h2 {
  color: rgb(255, 255, 255, 0.8);
  width: 32vw;
  mix-blend-mode: plus-lighter;
}

.symbols {
  font-style: italic;
}


.block {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 1.4s;
}

*:focus {
  outline: none;
}

.column-left {
  width: 60%;
  max-width: 80%;
  min-width: 60%;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  overscroll-behavior-x: contain;
  overflow: auto;
}

.block:has(> .column-left:hover) {
    width: 140%;
    transition: 1s;
    transition-delay: 1s;
    touch-action: none;
}

/* Правило для изменения прозрачности правой колонки при наведении на левую */
.block:has(> .column-left:hover) .column-right {
    opacity: 0.2;
    filter: saturate(0);
    transition: opacity 1s, filter 1s, transform 1s;
    transition-delay: 1s;
}

.block:has(> .column-right .focus:hover) {
    width: 140%;
    transition: 1s;
    transition-delay: 1s;
    margin-left: -40%;
    touch-action: none;

    & .circle {
      width: 120px;
      margin-left: -16px;
      transition: 1s;
      transition-delay: 1s;
    }
}

.block:has(.button:hover) .column-left,
.block:has(.button:hover) .column-right {
  opacity: 0.2;
  filter: saturate(0);
  transform: translateY(-100px);
  transition: opacity 1s, filter 1s, transform 1s;
  transition-delay: 1s;
}

.block:has(.button:hover) .push {
  opacity: 1;
  bottom: 100px;
  transition: opacity 1s, bottom 1s;
  transition-delay: 1s;
}



.column-left::-webkit-scrollbar {
    display: none;
    transition: opacity 1s, filter 1s, transform 1s;
}

.column-left {
  transition: opacity 1s, filter 1s, transform 1s;
}


.column-right {
  width: 40%;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  overscroll-behavior-x: contain;
  opacity: 1;
  filter: saturate(1);
  transition: opacity 1s, filter 1s, transform 1s;
}

.column-right .module {
  margin-left: 8%;
  margin-right: 8%;
  transition: opacity 1s, filter 1s, transform 1s;
}

.column-right::-webkit-scrollbar {
    display: none;
    transition: opacity 1s, filter 1s, transform 1s;
}

.module {
  height: 100%;
  align-content: center;
  text-align: left;
  scroll-snap-align: center;
}

.module p not .link {
  width: 32vw;
}


.link {
  margin: revert;
  width: auto;
  margin: 0 12px 4px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.top-8 {
  margin-top: 8px;
}


.center {
  justify-items: center;
}

.card {
  width: 100%;
  margin: auto;
}


.grid img {
  width: 32%;
}



.circle {
  border-radius: 360px;
  width: 80px;
  min-height: 80px;
  margin-left: -8px;
  transition: 1s;
  background-color: rgb(255, 255, 255 , 0.02);
}

.circle:hover {
  width: 160px;
  margin-left: -16px;
  transition: 1s;
  transition-delay: 1s;
}

.showreel-mobile {
  display: none;
}

.scale {
  transform: scaleX(0.94);
}

video {
  width: 100%;
  z-index: -999999;
  background-color: rgb(255, 255, 255 , 0.02);
  transform: skew(-1deg);
}

img {
  width: 100%;
  transition: 1s;
  background-color: rgb(255, 255, 255 , 0.02);
  transform: skew(-1deg);
}

@keyframes shaker {
  0%   { transform: translateX(0); }
  2%   { transform: translateX(-1px); }
  4%  { transform: translateY(1px); }
  6%  { transform: translateX(0px); }

  16%  { transform: translateX(0); }     /* пауза 200 мс */
  18%  { transform: translateY(-1px); }
  20%  { transform: translateX(1px); }
  22%  { transform: translateX(0px); }

  100% { transform: translateX(0); }     /* пауза 2000 мс */
}

.shake {
  animation: shaker 2.8s infinite; /* общее время цикла */
}


@media (max-width: 999px) {

    .block {
      display: block;
      position: relative;
    }

    .none {
      display: none;
    }

    .showreel-mobile {
      display: block;
      margin: 4% -4% 20% -4%;
    }

    .center {
      justify-items: left;
    }

    .center .row {
      margin-left: 4%;
      margin-top: 8px;
    }

    .top-32 {
      padding-top: 0px;
    }

    .module {
      height: 100vh;
    }


    .column-left {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      position: absolute;
    }


    .column-right {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      position: fixed;
    }

    .column-right .module {
      margin-left: 4%;
      margin-right: 4%;
    }

    .block:has(> .column-left:hover) {
        width: 100%;
        transition: 1s;
        transition-delay: 1s;
        touch-action: none;
    }

    .block:has(> .column-right .focus:hover) {
        width: 100%;
        transition: 1s;
        transition-delay: 1s;
        margin-left: 0%;
        touch-action: none;

        & .circle {
          width: 240px;
          margin-left: -8px;
          transition: 1s;
          transition-delay: 0s;
        }
    }

    .circle {
      width: 240px;
      min-height: 240px;
    }

    .circle:hover {
      width: 360px;
      margin-left: -16px;
      transition: 1s;
      transition-delay: 0s;
    }


    .link {
      margin: 0 32px 12px 0;
    }


    p, a {
      font-size: 56px !important;
      line-height: 56px !important;
      width: 94vw;
    }

    h1 {
      font-size: 80px !important;
      line-height: 80px !important;
      width: 94vw;
    }

    h2 {
      font-size: 56px !important;
      line-height: 56px !important;
      width: 94vw;
    }

    h3 {
      font-size: 16px;
      line-height: 20px;
      width: 94vw;
      width: 500px;
    }

    .logo {
      width: 480px;
    }

    .svg {
      width: 320px;
    }


    .align {
      text-align: center;
    }

    .row {
      display: ruby-text;
    }


    .push {
      display: none;
    }

    .fix {
      bottom: 80px;
    }
  
  

}

@media (max-width: 999px) and (orientation: landscape) {

    .block {
      display: block;
      position: relative;
    }

    .none {
      display: none;
    }

    .showreel-mobile {
      display: block;
      margin: 4% -4% 20% -4%;
    }

    .center {
      justify-items: left;
    }

    .center .row {
      margin-left: 4%;
      margin-top: 8px;
    }

    .top-32 {
      padding-top: 0px;
    }

    .module {
      height: auto;
    }


    .column-left {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      position: absolute;
    }


    .column-right {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      position: fixed;
    }

    .column-right .module {
      margin-left: 4%;
      margin-right: 4%;
    }

    .block:has(> .column-left:hover) {
        width: 100%;
        transition: 1s;
        transition-delay: 1s;
        touch-action: none;
    }

    .block:has(> .column-right .focus:hover) {
        width: 100%;
        transition: 1s;
        transition-delay: 1s;
        margin-left: 0%;
        touch-action: none;

        & .circle {
          width: 160px;
          margin-left: -8px;
          transition: 1s;
          transition-delay: 0s;
        }
    }



    .circle {
      width: 160px;
      min-height: 160px;
    }

    .circle:hover {
      width: 200px;
      margin-left: -16px;
      transition: 1.4s;
      transition-delay: 0s;
    }

    .link {
      margin: 0 32px 12px 0;
    }


    p, a {
      font-size: 48px;
      line-height: 48px;
      width: 94vw;
    }

    h1 {
      font-size: 80px;
      line-height: 80px;
      width: 94vw;
    }

    h2 {
      font-size: 48px;
      line-height: 48px;
      width: 94vw;
    }

    h3 {
      font-size: 16px;
      line-height: 20px;
      width: 94vw;
    }

    .logo {
      width: 480px;
    }

    .svg {
      width: 320px;
    }

    .align {
      text-align: center;
    }

    .row {
      display: ruby-text;
    }

    .push {
      display: none;
    }

    .fix {
      bottom: 80px;
    }
  
  

}






:root {
  font-family: ZenKakuGothicNew, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
